/* brokenPIXEL Custom CSS Additions */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ddd;
    padding: 6px 0;
    background-color: #fff;
}

.slimScrollDiv {
    margin-top: -9px;
}

#wrapper .sidebar {
    width: 180px;
}

.layout-fullwidth #wrapper .sidebar {
    left: -180px;
}

#wrapper .main {
    width: calc(100% - 180px);
}

#wrapper .main .alert {
    padding: 10px 35px 10px 15px;
}

#wrapper .main .profile-left .profile-detail .profile-info .alert.action-alert {
    padding: 10px 15px 10px 15px !important;
}

#wrapper .main .profile-left .profile-detail .profile-info .alert.action-alert button.close {
    line-height: .9 !important;
}

#wrapper #sidebar-nav,
#wrapper .main {
    padding-top: 75px;
}

.navbar-default .brand {
    padding: 14px 10px 0 15px;
    font-size: 22px;
    background-color: transparent;
}

.navbar-default .brand a {
    color: #2B333E;
}

.navbar-default .brand a span {
    font-weight: 700;
}

.navbar-btn {
    padding: 6px 0;
}

.navbar-form {
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-nav .icon-menu,
.navbar-nav>li>a {
    padding-top: 18px;
    padding-bottom: 18px;
}

.sidebar .nav>li>a {
    padding: 10px 10px;
}

.sidebar .nav .nav>li>a {
    padding: 7px 10px;
}

.main-content {
    padding: 0;
}

.page-title {
    color: #000;
    margin-bottom: 20px;
}

select[multiple].form-control {
    height: 114px;
    padding: 5px;
}

select.form-control option {
    height: 34px;
    padding: 7px 10px;
}

/* Panels */
.panel {
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
}

.panel .panel-body {
    padding: 5px 20px;
}

.panel.debug-panel {
    margin-bottom: 12px;
}

.panel.debug-panel .panel-heading {
    padding: 10px 0 10px 15px;
}

.panel.debug-panel .panel-heading .right {
    top: 25%;
}

.panel.debug-panel .panel-body {
    padding: 0px 15px 15px;
}

/* Tables */
.table.table-striped {
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

/* Login Screen */
.auth-box {
    width: 30%;
    height: 400px;
}

.auth-box .left {
    width: 100%;
}

.auth-box .right {
    background-image: url('/assets/klorofil/img/bp-logo-bg.png');
    background-position-x: -35px;
    width: 70%;
}

.auth-box .right .overlay {
    background: rgba(99, 156, 185, 0.32);
}

.auth-box .right .heading {
    margin-top: 350px;
}

.auth-box .right .text {
    text-align: right;
}

.profile-header .profile-main {
    /* background-image: url('../../img/profile-bg3.jpg');
    background-position-y: center; */
    background-color: #2b333e;
}

.profile-info {
    margin: 20px 0;
}

.profile-info .profile-gallery {
    margin-bottom: 10px;
}

.profile-info .profile-gallery>div {}

.profile-info .profile-gallery .profile-gallery-thumb {
    max-width: 100%;
    padding: 10px;
}

.profile-right h4 {
    margin-top: 0;
}

.profile-right .left {
    border-right: 1px solid #eee;
}

.panel .profile-right {
    padding-bottom: 5px;
}

.cursor-pointer {
    cursor: pointer;
}

.action-buttons-col {
    width: auto;
}

.user-info-td {
    padding: 3px 0 4px 78px !important;
}

/* Users Listing DataTable */
div.dataTables_wrapper {
    padding-top: 8px;
}

div.dataTables_wrapper table.dataTable {
    margin-top: 0 !important;
}

div.dataTables_wrapper table.dataTable thead .sorting:before,
div.dataTables_wrapper table.dataTable thead .sorting:after,
div.dataTables_wrapper table.dataTable thead .sorting_asc:before,
div.dataTables_wrapper table.dataTable thead .sorting_asc:after,
div.dataTables_wrapper table.dataTable thead .sorting_desc:before,
div.dataTables_wrapper table.dataTable thead .sorting_desc:after,
div.dataTables_wrapper table.dataTable thead .sorting_asc_disabled:before,
div.dataTables_wrapper table.dataTable thead .sorting_asc_disabled:after,
div.dataTables_wrapper table.dataTable thead .sorting_desc_disabled:before,
div.dataTables_wrapper table.dataTable thead .sorting_desc_disabled:after {
    display: none;
}

div.dataTables_wrapper div.dataTables_filter {
    position: relative;
}

div.dataTables_wrapper div.dataTables_filter label {
    position: absolute;
    right: 80px;
    top: -39px;
}

div.dataTables_wrapper div.dataTables_filter input {
    height: 30px;
}

div.dataTables_wrapper .dataTables_length select {
    margin: 0 5px;
}

div.dataTables_wrapper .dataTables_length select::after {
    display: none;
}

div.dataTables_wrapper .dataTables_info {
    width: 50%;
    float: left;
    padding-top: 12px;
}

div.dataTables_wrapper .dataTables_paginate {
    width: 50%;
    float: left;
    text-align: right;
    margin-top: 10px !important;
}

div.dataTables_wrapper .dataTable thead tr th:first-of-type {
    width: 20px;
    /*!important;*/
    padding: 8px 0 8px 8px;
    text-align: center;
}

div.dataTables_wrapper .dataTable tbody tr td:first-of-type {
    width: 20px !important;
    padding: 8px 0 6px 8px;
    text-align: center;
}

div.dataTables_wrapper .dataTable tbody tr td:last-of-type {
    padding: 6px 0 6px 8px;
}

div.dataTables_wrapper .dataTable tbody tr td input {
    height: 30px;
}

div.dataTables_wrapper .dataTable thead tr th:last-of-type {
    padding-right: 10px;
}

.btn-group-xs>.btn,
.btn-xs {
    line-height: 1;
}

#toTopBtn {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 4px 10px 3px;
    border-radius: 4px;
    opacity: 0.6;
}

#toTopBtn:hover {
    /*background-color: #555;*/
    opacity: 1;
}

.auth-message p {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px 0;
}

.slider.slider-horizontal,
.permission-slider {
    width: 100% !important;
    margin-left: 15px;
}

.slider.slider-horizontal:after {
    margin-bottom: 15px;
}

.sidebar .nav .nav>li>a {
    padding-left: 41px !important;
}

.sidebar .nav .nav>li>a:focus,
.sidebar .nav .nav>li>a.active {
    font-weight: 700;
}

.profile-header .online-status.status-unavailable:before {
    background-color: #f03205;
}

.clients-main-page .metric {
    padding: 10px;
    margin-bottom: 20px;
}

/* Install errors */
.has-error {
    color: #a94442;
    font-weight: 700;
    background-color: #f2cbca;
    margin: 20px 0 0px 0;
    padding: 10px 20px;
}

/* Scrollbars */
/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #eee;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #bbb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

.btn-xxs {
    padding: 0 5px;
}

/* Kanban */
.card-body h4.card-title {
    margin: 0 0 14px;
}

.metric .icon {
    width: 35px;
    height: 35px;
    line-height: 37px;
}

/* Clients */
#clientcontent .row .well {
    padding: 0 10px 10px;
    min-height: 110px;
}

#clientcontent .row .well p.service-note {
    padding-right: 34px;
}

.client-card .icon {
    width: 50px;
    height: 50px;
    line-height: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    float: right;
    background-color: #0081c2;
    text-align: center;
    color: #fff;
    margin-top: 10px;
    opacity: 0.2;
}

.client-card .icon .fa {
    font-size: 25px;
}

.client-card h4 span {
    font-size: 14px;
}

#clientcontent .row .well h4 {
    line-height: 24px;
}

#clientcontent .row .well hr {
    border: 1px solid #ddd;
    margin: 8px 0;
}

#clientcontent .listing-count h3 {
    margin: 0 0 20px;
}

/* Sprite Stuff */
.sprite-delete,
.sprite-edit,
.sprite-search,
.sprite-users,
.sprite-delete-comment,
.sprite-edit-comment,
.sprite-calendar,
.sprite-print,
.sprite-restore,
.sprite-arrow,
.sprite-billable,
.sprite-copy,
.sprite-accept {
    width: 16px;
    height: 16px;
    background: url(../../img/sprite-sheet.png);
    cursor: pointer;
}

.sprite-accept.left,
.sprite-copy.left {
    float: left;
    margin-right: 4px;
}

.sprite-calendar {
    background-position: -96px top;
}

.sprite-print {
    background-position: -112px top;
}

.sprite-arrow {
    background-position: -128px top;
}

.sprite-restore {
    background-position: -144px top;
}

.sprite-billable {
    background-position: -160px top;
}

.sprite-copy {
    background-position: -178px top;
}

.sprite-accept {
    background-position: -194px top;
}

.sprite-delete.right {
    margin: 0 0 0 6px;
}

/* margins, padding, helpers etc */
.margin-top-5 {
    margin-top: 5px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

/* Clearable Inputs */
.clearable {
    position: relative;
    display: block;
}

.clearable input[type=text] {
    padding-right: 24px;
    width: 100%;
    box-sizing: border-box;
}

.clearable__clear {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 8px;
    font-style: normal;
    font-size: 1.6em;
    user-select: none;
    cursor: pointer;
    font-weight: 900;
    color: red;
}

.clearable input::-ms-clear {
    /* Remove IE default X */
    display: none;
}

.relative {
    position: relative;
}

.client-content-well-trash {
    position: absolute;
    right: 10px;
    bottom: 8px;
    color: red;
    font-size: 30px;
    cursor: pointer;
}

.well.client-card {
    min-height: 80px;
}

.users-services-row.usr-first,
.users-services-row.usr-last {
    padding-top: 6px;
}

h5.modal-title {
    font-size: 24px;
    float: left;
}

.reportlinks .metric {
    min-height: 115px;
}

#editorpanel .panel-body {
    margin: 15px 0;
    border-top: none;
}

#editorpanel .panel-heading {
    padding: 10px 10px 10px 18px;
}

#editorpanel .panel-heading a {
    font-weight: 500;
}

#editorpanel .panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';
    /* essential for enabling glyphicon */
    content: "\e114";
    /* adjust as needed, taken from bootstrap.css */
    float: right;
    /* adjust as needed */
    color: grey;
    /* adjust as needed */
}

#editorpanel .panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";
    /* adjust as needed, taken from bootstrap.css */
}

#editorpanel .pages-menu-item {
    padding: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}

#editorpanel .pages-menu-item span {
    margin: -8px -20px 0 0;
    font-size: 24px;
}

#formsTabsContent {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

select.form-control {
    padding-right: 10px;
}

/* Menu Sorting */
#s-l-base dt,
#sTreeWrap dt {
    font-style: italic;
    font-weight: bold;
}

#s-l-base li,
#sTreeWrap ul.text li {
    list-style: none;
}

#s-l-base,
#s-l-base li,
#sTreeWrap ul,
#sTreeWrap li {
    list-style-type: none;
    color: #b5e853;
    border: 1px solid #3f3f3f;
}

#s-l-base,
#s-l-base li,
#sTreeWrap ul,
#sTreeWrap #sTree {
    padding: 0;
    background-color: #151515;
}

#s-l-base li,
#sTreeWrap #sTree li,
#sTreeWrap #sTreePlus li,
#sTreeWrap ul#s-l-base li {
    padding-left: 40px;
    margin: 5px;
    border: 1px solid #3f3f3f;
    background-color: #3f3f3f;
}

#s-l-base li div,
#sTreeWrap li div {
    padding: 7px;
    background-color: #222;
}

#s-l-base li,
#s-l-base div,
#sTreeWrap li,
#sTreeWrap ul,
#sTreeWrap div {
    border-radius: 3px;
}

#sTreeWrap #sTree {
    margin: 10px auto;
}

#sTreeWrap .clickable {
    cursor: pointer;
}

#s-l-base .far.fa-times-circle,
#sTreeWrap .far.fa-times-circle {
    margin: -25px 10px 0 0;
}

.toolbar .view-content {
    display: none;
}

/* table#contents-table th:nth-child(2) {
    text-align: center;
} */
table#contents-table span.btn.btn-xxs.disabled {
    padding: 1px 6px 3px 8px;
    border-radius: 0.25em;
    color: #000000;
    font-weight: 900;
    font-size: 75%;
}

.display-table-cell {
    display: table-cell;
}

.fas.fa-times-circle.fa-2x.red,
.fas.fa-check-circle.fa-2x.green {
    cursor: pointer;
}

/* media queries */
@media screen and (max-width: 1200px) {
    .hide-below-1200 {
        display: none;
    }

    .auth-box {
        width: 35%;
    }
}

@media screen and (max-width: 1024px) {
    .hide-below-1024 {
        display: none;
    }

    #wrapper .sidebar {
        left: -180px;
    }

    .layout-fullwidth.offcanvas-active #wrapper .sidebar {
        left: 0;
    }

    #wrapper .main {
        width: 100%;
    }

    .layout-fullwidth.offcanvas-active #wrapper .main {
        left: 0;
    }

    .auth-box {
        width: 60%;
    }
}

@media screen and (max-width: 992px) {
    .hide-below-992 {
        display: none;
    }

    #wrapper .main {
        margin-bottom: 50px;
    }

    .navbar-default .brand {
        display: inline-block;
    }

    /* Kanban Cards */
    .card.draggable .card-body p,
    .card.draggable .card-body .icon {
        display: none;
    }

    .card.draggable .card-body .card-title a {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .hide-below-768 {
        display: none;
    }

    .auth-box {
        width: 95%;
    }

    #wrapper .navbar {
        height: 60px;
    }

    #navbar-menu .navbar-nav {
        margin: 0;
    }

    #navbar-menu .nav.navbar-nav>li {
        width: 64px !important;
        float: right;
    }

    .navbar-default #navbar-menu {
        width: 68%;
        float: right;
    }

    /*#services, #domains {
        height: 50px;
    }*/
}

@media screen and (max-width: 640px) {
    .hide-below-640 {
        display: none;
    }

    .user-info-td {
        padding: 6px 10px 8px 10px !important;
    }

    .client-card .icon {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }

    .client-card .icon .fa {
        font-size: inherit;
    }

    .client-content-well-trash {
        right: 16px;
    }
}

@media screen and (max-width: 480px) {
    .hide-below-480 {
        display: none;
    }

    .page-title {
        font-size: 16px;
    }

    .action-buttons-col {
        width: 100px;
    }
}

@media screen and (max-width: 340px) {
    #wrapper .main {
        padding-top: 140px;
    }
}