/* Custom brokenPIXEL Additions */

section:first-of-type {
    margin-top: 60px;
}
.page-sidebar {
    margin: 2px 0 30px;
}

/* bpForms Additions */
.required {
    color: #ff1a26;
    font-weight: 900;
}
.form-group .tooltip-element {
    visibility: visible;
    color: #fff;
    background: #000;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    margin: 1px 5px 0 0;
    font-size: 15px;
    cursor: default;
}
.full-width {
    width: 100%;
}
section[data-type='component-text'] {
    padding-bottom: 0;
    margin-bottom: 40px;
}
.form-required {
    margin-bottom: -24px;
}
div[data-type='container-content'] > p[data-type='component-text']:first-of-type {
    display: none;
}