/* Custom brokenPIXEL Additions */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1rem 0;
}

/*
.page-heading {
    margin: 20px 0;
}*/
.img-circle {
    border-radius: 50%;
}

section {
    padding-bottom: 40px;
}

.required {
    color: #ff1a26;
    font-weight: 900;
}

.form-group .tooltip-element {
    visibility: visible;
    color: #fff;
    background: #000;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    margin: 1px 5px 0 0;
    font-size: 15px;
    cursor: default;
}

section[data-type='component-text'] {
    padding-bottom: 0;
    margin-bottom: 40px;
}

.form-required {
    margin-bottom: -24px;
}

/* div[data-type='container-content'] > p[data-type='component-text']:first-of-type {
    display: none;
} */
a.google-header-nav {
    color: red;
}

#leftsidebar,
#rightsidebar {
    margin-top: 5px;
}

.errors {
    background-color: #ffe2e8;
    border: 1px solid #ef3535;
    color: #000000;
    padding: 5px 10px;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#maincontent .row #fullcontent .row {
    margin-bottom: 40px;
}

.img-rounded {
    border-radius: 20px;
}